<footer class="site-footer">
  <div class="container">
    <ul class="footer-links">
      <li>
        <a href="https://www.youtube.com/@wccarobotics" target="_blank">
          {% include icons/youtube.html %}YouTube
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=61583999841656" target="_blank">
          {% include icons/facebook.html %}Facebook
        </a>
      </li>
      <li>
        <a href="https://github.com/wccarobotics" target="_blank">
          {% include icons/github.html %}GitHub
        </a>
      </li>
      <li><a href="{{ '/support' | relative_url }}">❤️ Support Us</a></li>
    </ul>
    <p class="footer-copy">© {{ site.time | date: '%Y' }} WCCA Robotics — <a href="https://westcoastchristian.org/" target="_blank">West Coast Christian Academy</a></p>
  </div>
</footer>
